<!-- {{ 10 | powerTox:2}} -->

<!-- {{"rana-ehab" | stringConvert}} -->

<!-- {{["angular","react","node"]|arraySplice:"node"}}
<br>
{{["angular","react","node"]|arraySplice:"java"}} --> 

<!-- <p-password></p-password>
<hr>
<br>
<br> 
<p-rating formControlName="score"></p-rating>
<hr>
<p-calendar [inline]="true"></p-calendar>
<hr>
<p-chips></p-chips>
<hr>
<p-gmap [style]="{'width':'100%','height':'320px'}"></p-gmap>
<hr>
<p-fileUpload name="" url=""></p-fileUpload> -->

<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<!-- <app-star [rate]=1></app-star>
<app-star [rate]=2></app-star>
<app-star [rate]=2.5></app-star>
<app-star [rate]=4></app-star>
<app-star [rate]=5></app-star> -->

<app-product></app-product>